<h2 id="pages-manual">Strony</h2>
<p class="">
    Link do działu <a href="{{ absolute_url(path('page_index')) }}"><u>STRONY</u></a>
</p>
<h4 class="mb-1">Tworzenie nowej strony</h4>
<p>W prawym górnym rogu należy kliknąć w przycisk Dodaj
    <img src="{{ asset('bundles/twinelementsmanual/add-button.png') }}" alt=""></p>
<ul>
    <li>
        Pole <b>Tytuł</b>: należy wpisać nagłówek główny
    </li>
    <li>
        Pole <b>Zajawka</b>: czasem jest potrzebne, jeżeli dana podstrona figuruje jako boks na innej podstronie
    </li>
    <li>
        Pole <b>Treść</b>: instrukcja dostępna w sekcji <a href="#tinymce"><u>Redaktor treści</u></a>
    </li>
    <li>
        Pole <b>Obrazek wyróżniający</b>: czasem jest potrzebny – w zależności od projektu graficznego
    </li>
    <li>
        Pole <b>Galeria zdjęć</b>: z Managera plików można wybrać pliki, które wyświetlą się na danej podstronie (jeżeli nie wyklucza tego projekt graficzny)
    </li>
    <li>
        Pole <b>Załączniki</b>: z Managera plików można wybrać pliki, które wyświetlą się na danej podstronie (jeżeli nie wyklucza tego projekt graficzny)
    </li>
    <li>
        Pole <b>Strona nadrzędna</b>: tworzymy w ten sposób dokładną ścieżkę do danej podstrony. (Np. <b>Strona główna / O nas / Nasza działalność</b>)
    </li>
    <li>
        Pole <b>SEO</b>: Obsługa w sekcji <u>SEO</u>
    </li>
    <li>
        Pole: <b>Aktywny</b>: za pomocą tego przełącznika możemy ukryć stronę nie usuwając jej
    </li>
</ul>
<p>Po uzupełnieniu niezbędnych pól należy kliknąć przycisk <u>Zapisz</u> albo <u>Zapisz i wróć</u></p>
<p class="alert alert-danger">Przed usunięciem podstrony należy sprawdzić czy nie jest ona przypisana do którejś pozycji menu. Jeżeli tak, to należy najpierw usunąć pozycję z menu i dopiero wtedy można usuwać bezpiecznie podstronę.</p>
