<div>
    <a name="users"></a>
    <h2>Użytkownicy</h2>
    <ul>
        <li>
            <h6>Tworzenie nowego użytkownika</h6>
            <p>
                Pole <b>Nazwa użytkownika</b>: jest to nazwa, pod którą użytkownik będzie pokazywany w CMSie.<br>
                Pole <b>Hasło/Powtórz hasło</b>: hasło<br>
                Pole <b>Adres email</b>: za pomocą tego adresu użytkownik loguje się do systemu<br>
                Pole <b>Aktywny</b>: za pomocą tego przełącznika, możemy wyłączyć/włączyć użytkownikowi dostęp do panelu CMS.<br>
                Pole <b>Uprawnienia</b>: możemy nadawać różne uprawnienia dla każdego użytkownika
            </p>
        </li>
    </ul>
</div>
