<div id="table-of-contents" class="bg-light px-8 py-7 mb-8">
    <h2>Spis treści:</h2>
    <ul>
        <li>
            <a href="#pages-manual"> Strony</a>
        </li>
        <li>
            <a href="#menu-manual">Menu</a>
        </li>
        <li>
            <a href="#tinymce-manual">Tinymce (redaktor treści)</a>
            <ul>
                <li><a href="#adding-image-manual">Dodawanie zdjęć</a></li>
                <li><a href="#edit-image-manual">Edycja zdjęcia</a></li>
                <li><a href="#add-film-manual">Dodawanie filmów</a></li>
                <li><a href="#anchor-manual">Kotwice</a></li>
                <li><a href="#headers-manual">Nagłówki</a></li>
                <li><a href="#tinymce-cols-manual">Kolumny</a></li>
                <li><a href="#table-manual">Tabele</a></li>
                <li><a href="#colors-manual">Kolory</a></li>
                <li><a href="#margins-manual">Odstępy</a></li>
                <li><a href="#buttons-links-manual">Przyciski, linkowanie</a></li>
                <li><a href="#lists-manual">Listy</a></li>
            </ul>
        </li>
        <li><a href="#filemanager">Manager plików</a></li>
        <li><a href="#seo">SEO</a></li>
        <li><a href="#settings">Ustawienia</a></li>
        <li><a href="#dictionary">Słownik</a></li>
        <li><a href="#users">Użytkownicy</a></li>
    </ul>
</div>
