<div>
    <a name="seo"></a>
    <h2>SEO</h2>
    <p>Do uzupełnienia mamy 3 pola. Meta TITLE, Meta DESCRIPTION oraz Meta KEYWORDS<br>
        <img src="{{ asset('bundles/twinelementsmanual/seo/seo-inputs.png') }}" alt="" class="border mt-4 img-fluid">
    </p>
    <ul>
        <li>
            <p>Pole <b>Meta TITLE</b>. Jest to tytuł, który wyświetla się w wynikach wyszukiwarki. Zalecana długość do
                70 znaków.</p>
        </li>
        <li>
            <p>Pole <b>Meta DESCRIPTION</b>: Jest to opis, który wyświetla się w wynikach wyszukiwarki. Zalecana długość
                do 255 znaków. Dany opis powinien zachęcić klienta do kliknięcia w dany artykuł.</p>
        </li>
        <li>
            <p>Pole <b>Meta KEYWORDS</b>: Jest to pole nieobowiązakowe, ale pozwala przypisać słowa kluczowe jako
                podpowiedź dla wyszukiwarki.</p>
        </li>
    </ul>
</div>
