<div>
    <a name="filemanager"></a>
    <h2 class="">Manager plików</h2>
    <ul>
        <li>
            <p class="alert alert-info">Nazwy plików oraz folderów należy wpisywać bez spacji, znaków specjalych oraz
                cudzysłówów. Np. <b>nazwa_folderu_czy_pliku_bez_spacji_i_znakow_specjalnych</b></p>
        </li>
        <li>
            <p>Zdjęcia lepiej dodawać od razu odpowiednio przycięte oraz skompresowane (np. za pomocą strony
                tinypng.com). Na przykład serwery home.pl nie obsługują programów do kompresji zdjęć, dlatego należy to
                robić we własnym zakresie.</p>
        </li>
        <li>
            <p>Należy zawsze segregować pliki. Im więcej plików jednocześnie musi załadować manager, tym dłużej trzeba
                czekać. Jeżeli pliki będą posegregowane w katalogach, system szybciej będzie w stanie to obrobić i
                wyświetlić.</p>
        </li>
        <li>
            <p>Żeby wybrać plik należy kliknąć w jego nazwę.</p>
        </li>
        <li>
            <p class="alert alert-warning">Jeżeli plik już został dodany w którymś miejscu na stronie, i chcemy zmienić
                jego nazwę, należy wtedy znaleźć, w których miejscach ten plik był wcześniej dodawany i wybrać na nowo
                plik ze zmnienioną nazwą. Jeżeli tego nie zrobimy, plik nie wyświetli się.</p>
        </li>
    </ul>
</div>
